@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --lighter-grey: #ececec;
    --light-grey: #d7d7d7;
    --dark-grey: #9b9696;
    --orange: #ee4508;
    --blue: #0059ff;
    --red: #fc3030;
    --green: #2eb82e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

header {
    width: 100%;
    padding-left: 20px;
    height: 100%;
    background: var(--orange);
    display: flex;
    justify-content: space-between;
}


/* parte do logo no header */
.logo {
    text-decoration: none;
    color: var(--white);
    font-size: 35px;
    padding: 15px 0;
    transition-duration: 0.3s;
}

.logo:hover {
    transform: scale(1.20);
}


/* parte do menu principal do header */
.menu {
    width: 40%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    transition-duration: 0.3s;
}

.menu li:hover {
    transform: scale(1.30);
}

.menu a {
    font-size: 20px;
    color: var(--white);
    text-decoration: none;
    transition-duration: 0.3s;
}

/* logout */
.headerRight {
    display: flex;
    align-items: center;
    padding: 0;
    border-left: 1px solid var(--white);
}

.headerRight a {
    color: var(--white);
    text-decoration: none;
    padding: 26px 30px;
    transition-duration: 0.3s;
}

.headerRight a:hover {
    background-color: var(--white);
    color: var(--black);
}

.headerRight a:hover img {
    filter: none;
}

.headerRight img {
    vertical-align: middle;
    margin-right: 10px;
    transition-duration: 0.3s;
    filter: invert(100%);
}