@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-weight: bold;
}

header {
    width:100%;
    height:100px;
    background: #d7d7d7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #9b9696;
    font-size: 35px;
    margin-left: 40px;
}

.logo:hover {
    color: #daa520;
    transition: .4s ease-in;
}

ul li {
    display: inline-block;
    margin-right: 30px;
}

ul li a {
    text-decoration: none;
    color: #9b9696;;
    font-size: 20px;
}

ul li a:hover {
    color: #000000;
    transition: .5s ease-in;
}

.button {
    text-decoration: none;
    color: #9b9696;
    margin-right: 40px;
}

.button:hover {
    color: #daa520;
    transition: 1s ease-in;
}