@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --lighter-grey: #ececec;
    --light-grey: #d7d7d7;
    --dark-grey: #9b9696;
    --orange: #ee4508;
    --blue: #0059ff;
    --red: #fc3030;
    --green: #2eb82e;
    --yellow: #FEC20C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    min-height: 100vh;
}


/* parte do título */
.titulo {
    padding: 50px;
    text-align: center;
    width: 100%;
}

.titulo h1 {
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.titulo button {
    padding: 10px;
    font-size: large;
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 2px;
    transition-duration: 0.4s;
    float: left;
}

.titulo button:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.titulo img {
    vertical-align: middle;
    margin-right: 5px;
}


/* parte do carrinho e final de compra */
.carrinhoList {
    display: flex;
}

/* parte do carrinho */
.left {
    width: 65%;
    padding: 0 25px 25px 25px;
}

.left table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.left td, .left th {
    padding: 10px;
}

.left th {
    background-color: var(--orange);
    color: white;
    border-left: 1px solid var(--white);
}

.left tr:nth-child(odd) {
    background-color: var(--light-grey);
}

.left td button {
    background: none;
    border: none;
}

.left td button:hover {
    cursor: pointer;
}

.addDisabled { 
    filter: grayscale(100%);
}

.addDisabled:hover {
    cursor: not-allowed !important;
}

/* parte de finalizar compra */
.right {
    width: 35%;
    height: fit-content;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid var(--dark-grey);
}

.right h1 {
    margin-bottom: 25px;
    text-align: center;
}

.right h2 {
    margin-bottom: 100px;
    text-align: center;
}

.precoTotal {
    width: fit-content;
    padding: 15px 25px;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 2px;
}

.compraBtn {
    padding: 10px 20px;
    font-size: large;
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 2px;
    transition-duration: 0.4s;
    float: left;
}

.compraBtn img {
    vertical-align: middle;
    margin-right: 10px;
}

.compraBtn:hover {
    cursor: pointer;
    transform: scale(1.10);
}

.compraDisabled {
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--light-grey);
    border: 2px solid var(--light-grey);
    border-radius: 2px;
    transition-duration: 0.4s;
}

.compraDisabled img {
    vertical-align: middle;
    margin-right: 10px;
}

.compraDisabled:hover {
    cursor: not-allowed;
}