@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.titulo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* media querys */
@media screen and (min-width: 1500px) {
    /* partes dos produtos da loja */    
    .produto {
        width: 15% !important;
    }

}

@media screen and (max-width: 1100px) {
    /* corpo da loja */
    .container {
        flex-direction: column;
    }
    

    /* parte dos filtros da loja */
    .left {
        width: 100% !important;
    }


    /* partes dos produtos da loja */
    .right {
        width: 100% !important;
    }

    .produto {
        width: 30% !important;
    }

}

@media screen and (max-width: 700px) {
    /* corpo da loja */
    .container {
        flex-direction: column;
    }


    /* parte dos filtros da loja */
    .left {
        width: 100% !important;
    }


    /* partes dos produtos da loja */
    .right {
        width: 100% !important;
    }
    
    .produto {
        width: 40% !important;
    }

}

/* corpo da loja */
.container {
    display: flex;
}


/* parte dos filtros da loja */
.left {
    width: 20%;
    background-color: #ededed;
}

.filtros {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

.filtros input, .filtros a {
    margin: 15px auto 10px 10px;
}

.filtros button {
    margin-top: 15px;
    padding: 7px;
    color: #fff;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    transition-duration: 0.4s;
}

.filtros button:hover {
    transform: scale(1.10);
    cursor: pointer;
}

/* partes dos produtos da loja */
.right {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.produto {
    width: 20%;
    height: auto;
    background-color: #ededed;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nomeProduto {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.nomeProduto h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.produto h4 {
    margin-top: 20px;
    color: grey;
}

.produto ul {
    width: 90%;
    list-style: none;
    margin-top: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details {
    text-decoration: none;
    border: 5px solid lightseagreen;
    border-radius: 5px;
    background-color: lightseagreen;
    color: white;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
}

.liDetails {
    transition-duration: 0.3s;
}

.liDetails:hover, .addToCart:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.addToCart {
    border: 1px solid #FEC20C;
    border-radius: 5px;
    background-color: #FEC20C;
    padding: 5px;
    transition-duration: 0.3s;
}

.addToCart img {
    vertical-align: middle;
}

.disabled {
    border: 1px solid #fc3030 !important;
    border-radius: 5px;
    background-color: #fc3030 !important;
    padding: 5px;
    transition-duration: 0.3s; 
}

.disabled:hover {
    cursor: not-allowed;
    transform: none !important;
}
