@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --lighter-grey: #ececec;
    --light-grey: #d7d7d7;
    --dark-grey: #9b9696;
    --orange: #ee4508;
    --blue: #0059ff;
    --red: #fc3030;
    --green: #2eb82e;
    --yellow: #FEC20C;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.titulo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* media querys */
@media screen and (min-width: 1500px) {
    /* partes dos produtos da loja */    
    .produto {
        width: 15% !important;
    }

}

@media screen and (max-width: 1100px) {
    /* corpo da loja */
    .container {
        flex-direction: column;
    }
    

    /* parte dos filtros da loja */
    .left {
        width: 100% !important;
    }


    /* partes dos produtos da loja */
    .right {
        width: 100% !important;
    }

    .produto {
        width: 30% !important;
    }

}

@media screen and (max-width: 700px) {
    /* corpo da loja */
    .container {
        flex-direction: column;
    }


    /* parte dos filtros da loja */
    .left {
        width: 100% !important;
    }


    /* partes dos produtos da loja */
    .right {
        width: 100% !important;
    }
    
    .produto {
        width: 40% !important;
    }

}

/* corpo da loja */
.container {
    display: flex;
}


/* parte dos filtros da loja */
.left {
    width: 20%;
    background-color: var(--lighter-grey);
}

.filtros {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
}

.filtros h2 {
    margin: 20px 0;
}

.filtros h2 a{
    margin-left: 50px;
}

.filtros h2 button {
    padding: 5px;
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 2px;
    transition-duration: 0.4s;
}

.filtros h2 img {
    margin-right: 15px;
    vertical-align: middle;
}

.filtros h3 {
    color: var(--orange);
}

.filtros input, .filtros a {
    margin: 15px auto 10px 10px;
}

.filtros form button {
    margin-top: 15px;
    padding: 7px;
    color: var(--white);
    background-color: var(--orange);
    border: 2px solid var(--orange);
    border-radius: 2px;
    transition-duration: 0.4s;
}

.filtros button:hover {
    transform: scale(1.10);
    cursor: pointer;
}

/* partes dos produtos da loja */
.right {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.produto {
    width: 20%;
    height: auto;
    border: 1px solid var(--light-grey);
    border-radius: 2px;
    padding: 20px;
    margin: 0 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.produto:hover {
    transform: scale(1.10);
}

.nomeProduto {
    width: 100%;
    margin-top: 25px;
    text-align: center;
}

.nomeProduto h3 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.produto h4 {
    margin-top: 20px;
    color: var(--dark-grey) ;
}

.produto ul {
    width: 90%;
    list-style: none;
    margin-top: 20px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.details {
    text-decoration: none;
    border: 5px solid var(--blue);
    border-radius: 2px;
    background-color: var(--blue);
    color: var(--white);
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
}

.liDetails {
    transition-duration: 0.3s;
}

.liDetails:hover, .addToCart:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.addToCart {
    border: 1px solid var(--yellow) ;
    border-radius: 2px;
    background-color: var(--yellow) ;
    padding: 5px;
    transition-duration: 0.3s;
}

.addToCart img {
    vertical-align: middle;
}

.disabled {
    border: 1px solid var(--red) !important;
    border-radius: 2px;
    background-color: var(--red) !important;
    padding: 5px;
    transition-duration: 0.3s; 
}

.disabled:hover {
    cursor: not-allowed;
    transform: none !important;
}
