@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --lighter-grey: #ececec;
    --light-grey: #d7d7d7;
    --dark-grey: #9b9696;
    --orange: #ee4508;
    --blue: #0059ff;
    --red: #fc3030;
    --green: #2eb82e;
    --yellow: #FEC20C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body {
    display: flex;
    height: 100vh;
}

.orange {
    width: 2%;
    background-color: var(--orange);
}

/* parte do formulário */
.formLogin {
    width: 96%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin h1 {
    font-size: 70px;
    color: var(--blue);
    margin-bottom: 30px;
}

.formLogin form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formLogin form fieldset {
    width: 70%;
    padding: 20px 0;
    border: none;
}

.formLogin form input[type=email] {
    width: 100%;
    font-size: 15px;
    margin-top: -5px;
    padding: 10px;
}

.formLogin form input {
    width: 92%;
    font-size: 15px;
    margin-top: -5px;
    padding: 10px;
}

.formLogin form img {
    vertical-align: middle;
    margin-left: 15px;
}

.erro {
    color: var(--red);
}

.buttonLogin {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.buttonLogin button {
    width: 40%;
    padding: 15px;
    margin-bottom: 40px;
    font-size: large;
    background-color: var(--blue);
    border: 1px solid var(--blue);
    color: var(--white);
    border-radius: 2px;
    transition-duration: 0.4s;
}

.buttonLogin button:hover {
    transform: scale(1.10);
    cursor: pointer;
}

.links {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: var(--orange);
}