@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    height: 100%;
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: "Poppins";
}
.formulario{
    size: absolute;
    width: 500px;
    background: #d7d7d7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 50px 0;
    color: black;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-bottom: 50px;
}
.input-box{
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 5px;
}
.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
}
::placeholder{
    color: #a2a2a2;
}
.fa{
    margin-right: 5px;
}
.eye{
    position: absolute;
}
#hide{
    display: none;
    margin-right: 35px;
    position: absolute;
}
#hide1{
    margin-right: 32px;
    position: absolute;
}
.botaologin{    
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    padding: 10px 0;
    border: 1px solid black;
    cursor: pointer;
    background: transparent;
    color: black;
    font-size: 16px;
}
.botaologin:hover{
    color: #666666;
    transition: .6s ease-in;
}

.erro {
    color: red;
    text-align: center;
}

p {
    padding-top: 20px;
    padding-left: 10px;
}