@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --lighter-grey: #ececec;
    --light-grey: #d7d7d7;
    --dark-grey: #9b9696;
    --orange: #ee4508;
    --blue: #0059ff;
    --red: #fc3030;
    --green: #2eb82e;
    --yellow: #FEC20C;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.body {
    padding: 50px 0;
}  
  
/* titulo */ 
.titulo {
    text-align: center;
    color: var(--blue);
}
  
/* Cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 50px 15px;
    padding: 0 16px;
}
  
.title {
    color: var(--dark-grey);
}
  
.titulo a{
    text-decoration: none;
    color: var(--orange);
    font-size: 15px;
}