@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.titulo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}