@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    font-family: "Poppins";
    background-image: url(a.jpeg);
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
}
.quadrado {
    width: 350px;
    height: 500px;
    margin: auto;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.3);
}
.header {
    text-align: center;
}
.header h1 {
    color: #353535;
    text-align: center;
    padding-top: 70px;
    font-size: 45px;
    margin-bottom: 60px;
}

.main {
    text-align: center;
} 
.main input, button {
    width: 300px;
    border-radius: 50px;
    height: 30px;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
}
.main button {
    color: white;
    padding-left: 10px;
    text-align: center;
    background-color: #152238;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 20px;
}
.main button:hover {
    box-shadow: 2px 2px 5px #929290;
    background-color: rgb(115, 124, 255);
}
.main input:hover {
    box-shadow: 2px 2px 5px #929290;
    background-color: #ddd;
}
.main span {
    position: relative;
}
.main i {
    position: absolute;
    left: 15px;
    color: #333;
    font-size: 16px;
    top: 2px;
}

